<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Malware Checker</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <noscript><link rel="stylesheet" type="text/css" th:href="@{/css/noscript.css}"/></noscript>
    </head>

    <body class="is-preload">

        <!-- Wrapper-->
        <div id="wrapper">

            <!-- Nav -->
            <nav id="nav">
                <a href="#" class="icon solid fa-home"><span>Home</span></a>
                <a href="#upload" class="icon solid fa-folder"><span>Upload</span></a>
            </nav>

            <!-- Main -->
            <div id="main">

                <!-- Me -->
                <article id="home" class="panel intro">
                    <header>
                        <h1>Malware Checker</h1>
                        <p>Malware discrimination and classification</p>
                    </header>
                    <a href="#upload" class="jumplink pic">
                        <span class="arrow icon solid fa-chevron-right"><span>See upload</span></span>
                        <img th:src="@{/css/images/sigmund-HsTnjCVQ798-unsplash.jpg}" alt="" />
                    </a>
                </article>

                <!-- Upload -->
                <article id="upload" class="panel">
                    <header>
                        <h2>Upload</h2>
                    </header>
                    <p>
                        PE 파일만 업로드 할 수 있습니다.
                    </p>
                    <section>
                        <div>
                            <form th:action="@{/receive_URL}" method="post" enctype="multipart/form-data">
                                <div class="filebox">
                                    <input class="upload-name" value="파일선택" disabled="disabled">
                                    <label for="ex_filename">업로드</label>
                                    <input type="file" id="ex_filename" th:name="multipartFile" multiple="multiple" accept="*" class="upload-hidden">
                                </div>

                                <div>
                                    <button type="submit">submit</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </article>

            </div>

            <!-- Footer -->
            <div id="footer">
                <ul class="copyright">
                    <li>Kookmin-sw/capstone-2023</li><li>Team 21</li>
                </ul>
            </div>

        </div>

        <!-- Scripts -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/browser.min.js}"></script>
        <script th:src="@{/js/breakpoints.min.js}"></script>
        <script th:src="@{/js/util.js}"></script>
        <script th:src="@{/js/upload.js}"></script>
        <script th:src="@{/js/main.js}"></script>

    </body>

</html>